@CHARSET "ISO-8859-1";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td
{
    padding: 0;
    margin: 0;
}

a
{
    text-decoration:none;
}

table
{
    border-spacing: 0;
}
fieldset,img
{
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var
{
    font-weight: normal;
    font-style: normal;
}

strong
{
    font-weight: bold;
}

ol,ul
{
    list-style: none;
    margin:0;
    padding:0;
}

caption,th
{
    text-align: left;

}

h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}

q:before,q:after
{
    content:'';
}

abbr,acronym
{
    border: 0;
}

body
{
    font-family: "Expert Sans","Open Sans"!important;
    color: #231f20;

}

.wrap
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

h1
{
    font-size: 6em;
}

p
{
    font-size: 2em;
}

.intro p
{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section
{
    text-align:center;
}

a:hover
{
    text-decoration: none;
}

/*********************************************** NAVBAR ********************************************/

.cd-header
{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(2, 23, 37, 0.95);
    height: 80px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;

}

@media only screen and (min-width: 768px)
{
    .cd-header
    {

        background: #000;
        box-shadow: none;
        -moz-osx-font-smoothing: grayscale;
        /*-webkit-box-shadow: 0px 4px 11px 0px rgba(158,158,158,1);*/
        /*-moz-box-shadow: 0px 4px 11px 0px rgba(158,158,158,1);*/
        /*box-shadow: 0px 4px 11px 0px rgba(158,158,158,1);*/
    }
}

@media only screen and (min-width: 1170px)
{
    .cd-header
    {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: black;
    }
    .cd-header.is-fixed
    {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -80px;
        background-color: black;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
    .cd-header.is-visible
    {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    .cd-header.menu-is-open
    {
        /* add a background color to the header when the navigation is open */
        /*background-color: rgba(2, 23, 37, 0.96);*/

    }
}

.cd-logo
{
    display: block;
    position: absolute;
    top: 50%;
    bottom:0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: .875em;
    margin-top: 0;
}

.cd-logo h4
{
    padding: 6px;
    padding-left: 10px;
    font-weight: lighter;
    color:#fff;
    text-decoration: none;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing:4px;
}


.cd-logo h4 span
{
    color:#fff;
    font-weight: bolder;
}

.cd-logo img
{
    display: block;
}

@media only screen and (min-width: 768px)
{
    .cd-logo
    {
        left: 2.6em;

    }
}


.cd-secondary-nav
{
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10em;
    /* hidden on small devices */
    display: none;
}

.cd-secondary-nav li
{
    display: inline-block;
    margin-left: 2.2em;
}

.cd-secondary-nav a
{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

@media only screen and (min-width: 768px)
{
    .cd-secondary-nav
    {
        display: block;
    }
}

.cd-primary-nav-trigger
{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    /*background-color: pink;*/
}

.cd-primary-nav-trigger .cd-menu-text
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    /* hide the text on small devices */
    display: none;
}

.cd-primary-nav-trigger .cd-menu-icon
{
    /* this span is the central line of the menu icon */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
}

.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}

.cd-primary-nav-trigger .cd-menu-icon::before
{
    top: -5px;
}

.cd-primary-nav-trigger .cd-menu-icon::after
{
    top: 5px;
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked
{
    background-color: rgba(255, 255, 255, 0);
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after
{
    background-color: #fff;
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before
{
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after
{
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

@media only screen and (min-width: 768px) {
    .cd-primary-nav-trigger {
        width: 100px;
        padding-left: 1em;
        background-color: transparent;
        height: 30px;
        line-height: 30px;
        right: 2.2em;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cd-primary-nav-trigger .cd-menu-text {
        display: inline-block;
    }
    .cd-primary-nav-trigger .cd-menu-icon {
        left: auto;
        right: 1em;
        -webkit-transform: translateX(0) translateY(-50%);
        -moz-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
        -o-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
    }
}

.cd-primary-nav
{
    /* by default it's hidden - on top of the viewport */
    position: fixed;
    left: 0;
    height: 30%;
    width: 100%;
    background: black;
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cd-primary-nav li
{
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: .2em 0;
    text-transform: capitalize;
}

.cd-primary-nav a
{
    display: inline-block;
    padding: .4em 1em;
    border-radius: 0.25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

.cd-primary-nav a:hover
{
    color:white;
    text-decoration: none;
}


.cd-primary-nav a:hover::after
{
    color:white;
}

.cd-primary-nav .cd-label
{
    color: #06446e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 2.4em 0 .8em;
}


.cl-effect-9 a span:first-child:hover
{
    color:white;
}

.cd-primary-nav.is-visible
{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 768px)
{
    .cd-primary-nav
    {
        padding: 80px 0;
    }
}
@media only screen and (min-width: 1170px)
{
    .cd-primary-nav li
    {
        font-size: 30px;
        font-size: 1.875rem;
    }
    .cd-primary-nav .cd-label
    {
        font-size: 16px;
        font-size: 1rem;
    }
}

/* NAV BAR EFFECT */
.cl-effect-9 a {
    margin: 0 20px;
    padding: 18px 20px;
    margin-top: 50px;
    color:white;
}

.cl-effect-9 a::before,
.cl-effect-9 a::after
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0.2;
    color:pink;
    -webkit-transition: opacity 0.3s, height 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s;
    transition: opacity 0.3s, height 0.3s;
}

.cl-effect-9 a::after
{
    top: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    color:white;
}

.cl-effect-9 a span:first-child
{
    z-index: 2;
    display: block;
    font-weight: 300;
}


.cl-effect-9 a span:first-child:hover
{
    color: white;
}


.cl-effect-9 a span:last-child:hover
{
    color:white;
}

.cl-effect-9 a span:last-child
{
    z-index: 1;
    display: block;
    padding: 8px 0 0 0;
    color: #2aabd2;
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: 0.75em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before
{
    height: 6px;
    text-decoration: none;
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:hover::after,
.cl-effect-9 a:focus::before,
.cl-effect-9 a:focus::after
{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.cl-effect-9 a:hover span:last-child,
.cl-effect-9 a:focus span:last-child
{
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}


nav a:hover,
nav a:focus
{
    outline: none;
}

nav a
{
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;

}

/***************************************** SECTIONS *************************************/

#section0 img,
#section1 img{
    margin: 20px 0 0 0;
}
#section2 img{
    margin: 20px 0 0 52px;
}
#section3 img{
    /*bottom: 0px;*/
    /*position: absolute;*/
    /*margin-left: -420px;*/
}
.intro p{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}


/************************************** LANDING SECTION *********************************/

#landing-section
{
    height: 100vh;
    background-image: url("../imgs/hand.jpeg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#landing-section h3
{
    color: white;
    font-size: 70px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 4%;
}

#landing-section p
{
    color:deepskyblue;
    margin-bottom: 15%;
}

/***************************************** WHAT WE DO **********************************/

#section-1
{
    height:100%;
}


#what-we-do
{
    height: 65vh;
    background-color: #fff;
    text-align: center;
    background-image: url("../imgs/desk-wood-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*padding:50px 0px;*/
    position: relative;
    width:100vw;
}


#what-we-do-container
{
    padding-top: 8%;
    /*padding-bottom: 30px;*/
}

#what-we-do h3
{
    text-align: center;
    /*color: #231f20;*/
    color: #fff;
    font-size: 4em;
    position: relative;
    text-transform: uppercase;
}

#what-we-do p
{
    color:#fff;
    font-size: 20px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    font-weight:lighter;
}

#what-we-do a
{
    color: #000;
    text-align: center;
    border: 1px solid #000;
    padding: 7px;
    margin-top: 100px;
    transition: all .3s ease-in-out;

}

#what-we-do a:hover
{
    border-color: #2aabd2;
    background-color: #2aabd2;
    color: white;
    text-decoration: none;
}

.arrow {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom:3%;
    background-color: #fff;
}
.arrow:before, .arrow:after {
    content:'';
    position: absolute;
    bottom: 100%;
    width: 50%;
    padding-bottom:inherit;
    background-color: inherit;
}
.arrow:before {
    right: 50%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -ms-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
}
.arrow:after {
    left: 50%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}

#about
{
    height:35vh;
    background-color: #fff!important;

}

#about p
{
    color:white;
    text-align: center;
    padding-top: 10%;
    font-weight: lighter;
    font-size: 40px;
    text-transform: uppercase;
}

/****************************** HOW ******************************/

/*#section2*/
/*{*/
    /*height:100%;*/
/*}*/


#how-we-do-it
{
    height: 65vh;
    background-color: #fff;
    text-align: center;
    background-image: url("../imgs/brick-wall-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*padding:50px 0px;*/
    position: relative;
    width:100vw;
}


#how-we-do-it-container
{
    padding-top: 8%;
    /*padding-bottom: 30px;*/
}

#how-we-do-it h3
{
    text-align: center;
    /*color: #231f20;*/
    color: #fff;
    font-size: 4em;
    position: relative;
    text-transform: uppercase;
}

#how-we-do-it p
{
    color:#fff;
    font-size: 20px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    font-weight:lighter;
}

#how-btns
{
    height:35vh;
    background-color: #fff!important;
    /*background-image: url("../imgs/brick-wall-5.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center center;*/

}

#process-btn a
{
    font-size: 40px;
    color: #000;
    padding: 15px;
    border: 7px solid #000;
    z-index: 20;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
}

#process-btn a:hover
{
    background-color: #000;
    text-decoration: none;
    color:white;
    border: 7px solid #000;
}

#design-btn a
{
    font-size: 40px;
    color: #000;
    padding: 15px;
    border: 7px solid #000;
    z-index: 20;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
}

#design-btn a:hover
{
    background-color: #000;
    text-decoration: none;
    color:white;
    border: 7px solid #000;
}



/******************************* WORK **********************************/

#section-2
{
    background-color: #fff!important;
}

#work
{
    height: 20vh;
    background-color: #fff;
    text-align: center;
    position: relative;
    width:100vw;
}


#work-container
{
    padding-top: 3%;
    /*padding-bottom: 2%;*/
}

#work h3
{
    text-align: center;
    /*color: #231f20;*/
    color: #000;
    font-size: 4em;
    position: relative;
    text-transform: uppercase;
}

#work-slider
{
    height:70vh;
    background-color: #fff!important;
    /*background-image: url("../imgs/brick-wall-5.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center center;*/

}


/**** FEATURED WORK CAROUSEL ****/
.carousel-container {
    position:relative;
    width:960px;
    /*width:50%;*/
    /*margin:auto 0;*/
    /*padding-left: %;*/
}
#carousel {
    height:280px;
    width:960px;
    /*width:100vw;*/
    background-color:#CCC;
    position:relative;
    margin-bottom:0.5em;
    font-size:12px;
    font-family: Arial;
}
.carousel-image {
    border:0;
    display:block;
}
.carousel-feature {
    position:absolute;
    top:-1000px;
    left:-1000px;
    border:2px solid #5d5d5d;
    cursor:pointer;
}
.carousel-feature .carousel-caption {
    position:absolute;
    bottom:0;
    width:100%;
    background-color:#000;
}
.carousel-feature .carousel-caption p {
    margin:0;
    padding:5px;
    font-weight:bold;
    font-size:12px;
    color:white;
}
.tracker-summation-container {
    position:absolute;
    color:white;
    right:48px;
    top:230px;
    padding:3px;
    margin:3px;
    background-color:#000;
}
.tracker-individual-container {
    position:absolute;
    color:white;
    right:48px;
    top:210px;
    padding:0;
    margin:0;
}
.tracker-individual-container li {
    list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
    margin:0 3px;
    padding:0 3px;
    color:white;
    text-align:center;
    background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
    color:white;
    font-weight:bold;
    background-color:#000;
}
#carousel-left {
    position:absolute;
    bottom:33px;
    left:220px;
    cursor:pointer;
}
#carousel-right {
    position:absolute;
    bottom:33px;
    right:220px;
    cursor:pointer;
}

.tracker-individual-container .tracker-individual-blip
{
    display:none;
}

.tracker-summation-container
{
    display: none;
}


/************************************* TEAM MEMBERS ***************************************/

#team-members
{
    background-image: url("../imgs/brick-wall-5.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;

}

#team-btn
{
    padding-top: 15%;
}

#team-members a
{
    font-size: 40px;
    color: white;
    padding: 15px;
    border: 3px solid #fff;
    z-index: 20;
    transition: all .3s ease-in-out;
    /*padding-top: 100px;*/
}

#team-members a:hover
{
    background-color: #000;
    text-decoration: none;
    color:white;
    border: 3px solid #000;
}

#reach-out
{
    text-align: left;
}

#contact
{
    background-color: #000;
    height: 30vh;
}

#contact h1
{
    text-align: left;
    color: white;
    padding-bottom: 10px;
}

#contact h4
{
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
}

#contact h5
{
    color: white;
    font-size: 18px;
}


#address
{
    text-align: left;
}

/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/


/*!******************************** TEAM MEMBERS PAGE *************************************!*/

/*#Team*/
/*{*/
    /*padding: 60px 0;*/
    /*background-image: url("../imgs/brick-wall.png");*/
    /*background-size: cover;*/
    /*background-position: center ;*/
    /*text-align: center;*/
/*}*/

/*#Team p*/
/*{*/
    /*padding: 20px 0 60px;*/
    /*color:white;*/
    /*font-family: "Expert Sans", "Open Sans", Helvetica, Arial, sans-serif;*/
    /*font-size: 16px;*/
    /*letter-spacing: 0.2px;*/
/*}*/

/*#Team h3*/
/*{*/
    /*padding: 0 0 15px;*/
    /*font-size: 36px;*/
    /*color:white;*/
    /*text-transform: uppercase;*/
/*}*/

/*#Team h4*/
/*{*/
    /*margin-top: -20px;*/
    /*font-size: 32px;*/
    /*color: white;*/
    /*font-weight: 700;*/
/*}*/

/*#Team h4 span*/
/*{*/
    /*display: block;*/
    /*position: relative;*/
    /*left: -40px;*/
    /*top: 10px;*/
    /*color:white;*/
    /*font-size: 20px;*/
    /*background: none;*/
    /*padding: 0;*/
/*}*/

/*#Team img*/
/*{*/
    /*width: 100%;*/
    /*max-width: 240px;*/
    /*border-radius: 50%;*/
    /*border: 15px solid transparent;*/
    /*box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);*/
    /*transition: all 0.1s ease-in;*/
/*}*/

/*#Team img:hover*/
/*{*/
    /*border: 15px solid white;*/
    /*position: relative;*/
    /*z-index: 10;*/
    /*transition: all 0.1s ease-in;*/
/*}*/

/*#Team span*/
/*{*/
    /*padding: 8px 20px;*/
    /*position: relative;*/
    /*top: -64px;*/
    /*left: -42px;*/
    /*display: inline-block;*/
    /*background: black;*/
    /*color: white;*/
    /*border-radius: 0 16px 16px 0;*/
    /*font-size: 16px;*/
/*}*/

/*!* Member Image Hover Effect *!*/
/*.hover_img*/
/*{*/
    /*display: none*/
/*}*/

/*.member-profile:hover .unhover_img*/
/*{*/
    /*display: none;*/
/*}*/

/*.member-profile:hover .hover_img*/
/*{*/
    /*display: block;*/
/*}*/

/*!* Social Networks Meta *!*/
/*#Team li*/
/*{*/
    /*display: inline-block;*/
    /*padding: 0 6px;*/
    /*font-size: 18px;*/
/*}*/

/*#Team li a*/
/*{*/
    /*color: rgba(0,0,0, 0.3);*/
    /*transition: all 0.1s ease-in;*/
/*}*/

/*#Team li a:hover*/
/*{*/
    /*color: rgba(0,0,0, 0.7);*/
/*}*/

/*!* Rows Optimization *!*/

/*.row2*/
/*{*/
    /*display: none;*/
/*}*/

/*.row1 .col-md-3, .row2 .col-md-3*/
/*{*/
    /*padding-bottom: 40px;*/
/*}*/

/*!* Mobile Devices Optimization *!*/
/*@media (min-width: 568px) and (max-width: 992px)*/
/*{*/

    /*.row1 .col-md-3, .row2 .col-md-3*/
    /*{*/
        /*display: inline-block;*/
        /*max-width: 50%;*/
    /*}*/

    /*#Team img*/
    /*{*/
        /*max-width: 300px;*/
    /*}*/
/*}*/

/*a:focus, a:hover*/
/*{*/
    /*text-decoration: none!important;*/
/*}*/

/********/
/******************************** FONTS ***********************************/

@font-face {
    font-family: "Expert Sans";
    src: url('../fonts/expert_sans_light-webfont.ttf') format('ttf');
}
