@font-face {
    font-family: 'expert_sans';
    src: url('../fonts/expert_sans_light-webfont.ttf');
    src: url('../fonts/expert_sans_bold-webfont.ttf') format('embedded-opentype'), url('../fonts/expert_sans_light-webfont.ttf') format('woff'), url('../fonts/expert_sans_light-webfont.ttf') format('truetype'), url('../fonts/expert_sans_regular_italic-webfont.ttf/') format('svg');
    font-weight: normal;
    font-style: normal
}

html.wf-loading .wf, html.wf-loading h5, html.wf-loading h6, html.wf-loading p, html.wf-loading li, html.wf-loading blockquote, html.wf-loading .button {
    visibility: hidden
}

body {
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased
}

body {
    height: 100%;
    font-family: "Expert Sans", "Open Sans";
}

.content {
    max-width: 1000px;
    margin: 0 auto
}

#page-container, .page-content {
    height: 100%
}

.copy-width {
    float: left;
    width: 81.53333333333335%;
    margin: 0 .8999999999999999%;
    margin-left: 9.233333333333334%;
    clear: left;
    float: none
}

.site-width {
    *zoom: 1;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    clear: left
}

.site-width:before, .site-width:after {
    display: table;
    content: "";
    line-height: 0
}

.site-width:after {
    clear: both
}

.debug {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-family: "Expert Sans", "Open Sans";
    font-size: 11px;
    color: #666
}

@media all and (max-width: 1000px) and (min-width: 500px) {
    .copy-width {
        width: 100%;
        margin-left: 0
    }

    .site-width {
        width: 80%
    }
}

#Team {
    overflow: hidden
}

#Team .header {
    margin-top: 150px;
    margin-bottom: 70px;
    text-align: center
}

#Team .header h1 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 15px
}

#Team .header p {
    font-size: 22px;
    line-height: 33px;
    color: #858585
}

#Team .outro {
    text-align: center;
    margin-bottom: 100px;
    border-top: 1px solid #EEE
}

#Team .outro .tl-guys {
    color: #3ea5ce;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: -44px;
    background: #FFF;
    padding: 30px
}

#Team .outro .heading {
    display: block;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 12px
}

#Team.outro p {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 5px;
    color: #858585
}

#Team .wave {
    display: inline-block;
    width: 66px;
    height: 68px;
    background-image: url(../imgs/wave.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 66px 68px;
    cursor: pointer
}

#Team .wave:hover {
    -webkit-animation: wave 500ms infinite;
    -webkit-transform-origin: bottom right;
    -moz-animation: wave 500ms infinite;
    -moz-transform-origin: bottom right;
    -ms-animation: wave 500ms infinite;
    -ms-transform-origin: bottom right;
    animation: wave 500ms infinite;
    transform-origin: bottom right
}

@-webkit-keyframes wave {
    0% {
        -webkit-transform: rotate(3deg)
    }
    50% {
        -webkit-transform: rotate(-3deg)
    }
    100% {
        -webkit-transform: rotate(3deg)
    }
}

@-moz-keyframes wave {
    0% {
        -moz-transform: rotate(3deg)
    }
    50% {
        -moz-transform: rotate(-3deg)
    }
    100% {
        -moz-transform: rotate(3deg)
    }
}

@-ms-keyframes wave {
    0% {
        -ms-transform: rotate(3deg)
    }
    50% {
        -ms-transform: rotate(-3deg)
    }
    100% {
        -ms-transform: rotate(3deg)
    }
}

@keyframes wave {
    0% {
        transform: rotate(3deg)
    }
    50% {
        transform: rotate(-3deg)
    }
    100% {
        transform: rotate(3deg)
    }
}

#Team audio {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 50;
    opacity: 0
}

#Team .cards {
    perspective: 1000;
    padding-bottom: 60px;
    *zoom: 1
}

#Team .cards:before, #Team .cards:after {
    display: table;
    content: "";
    line-height: 0
}

#Team .cards:after {
    clear: both
}

#Team .card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms;
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative
}

#Team .card img {
    width: 100%
}

#Team .front, #Team .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 1px solid transparent
}

#Team .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

#Team .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

#Team .person {
    width: 230px;
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 40px
}

#Team .person .name {
    display: block;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 17px;
    font-weight: bold
}

#Team .person .info {
    font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    color: #9b9b9b
}

#Team .person:hover .card {
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0
}

#Team .Richard:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(1.4885962517000735deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(1.4885962517000735deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(1.4885962517000735deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(1.4885962517000735deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(1.4885962517000735deg) scale(1.07)
}

#Team .Richard .front {
    /*background-image: url(../imgs/Dineo.jpg)*/
}

#Team .Richard .back {
    /*background-image: url(../imgs/Dineo.jpg)*/
}

#Team .Craig:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07)
}

#Team .Craig .front {
    background-image: url(/resources/img/goodbye/hey/kyra.jpg)
}

#Team .Craig .back {
    background-image: url(/resources/img/goodbye/whoa/kyra.jpg)
}

#Team .Ryan:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(1.1485491106286645deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(1.1485491106286645deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(1.1485491106286645deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(1.1485491106286645deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(1.1485491106286645deg) scale(1.07)
}

#Team .Ryan .front {
    background-image: url(../imgs/ryan.jpeg)
}

#Team .Ryan .back {
    background-image: url(../imgs/ryan_swap.jpg)
}

#Team .Ayanda:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-2.2026978456415236deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-2.2026978456415236deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-2.2026978456415236deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-2.2026978456415236deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-2.2026978456415236deg) scale(1.07)
}

#Team .Ayanda .front {
    background-image: url(/resources/img/goodbye/hey/jayne.jpg)
}

#Team .Ayanda .back {
    background-image: url(/resources/img/goodbye/whoa/jayne.jpg)
}


#Team .oloo:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-2.718833116348833deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-2.718833116348833deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-2.718833116348833deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-2.718833116348833deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-2.718833116348833deg) scale(1.07)
}

#Team .oloo .front {
    background-image: url(../imgs/alex.jpg)
}

#Team .oloo .back {
    background-image: url(../imgs/alex_swap.png)
}

#Team .daniella:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-2.7718566921539605deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-2.7718566921539605deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-2.7718566921539605deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-2.7718566921539605deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-2.7718566921539605deg) scale(1.07)
}


#Team .daniella .front {
    background-image: url(/resources/img/goodbye/hey/marc.jpg)
}

#Team .daniella .back {
    background-image: url(/resources/img/goodbye/whoa/marc.jpg)
}

#Team .thandi:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-0.27078169863671064deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-0.27078169863671064deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-0.27078169863671064deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-0.27078169863671064deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-0.27078169863671064deg) scale(1.07)
}

#Team .thandi .front {
    background-image: url(../imgs/Thandi.jpg)
}

#Team .thandi .back {
    background-image: url(../imgs/thandi_swap.jpg)
}

#Team .shenaaz:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(2.7426117584109306deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(2.7426117584109306deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(2.7426117584109306deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(2.7426117584109306deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(2.7426117584109306deg) scale(1.07)
}

#Team .shenaaz .front {
    background-image: url(../imgs/shenaaz_swap.jpg)
}

#Team .shenaaz .back {
    background-image: url(../imgs/shenaaz_swap.jpg)
}

#Team .ati:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(0.1292631276883185deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(0.1292631276883185deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(0.1292631276883185deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(0.1292631276883185deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(0.1292631276883185deg) scale(1.07)
}

#Team .ati .front {
    background-image: url(/resources/img/goodbye/hey/steven.jpg)
}

#Team .ati .back {
    background-image: url(/resources/img/goodbye/whoa/steven.jpg)
}

#Team .innocent:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(1.0129619417712092deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(1.0129619417712092deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(1.0129619417712092deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(1.0129619417712092deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(1.0129619417712092deg) scale(1.07)
}

#Team .innocent .front {
    background-image: url(/resources/img/goodbye/hey/sharon.jpg)
}

#Team .innocent .back {
    background-image: url(/resources/img/goodbye/whoa/sharon.jpg)
}

#Team .chris:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-2.7860299316234887deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-2.7860299316234887deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-2.7860299316234887deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-2.7860299316234887deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-2.7860299316234887deg) scale(1.07)
}

#Team .chris .front {
    background-image: url(../imgs/chris_pyke.jpeg)
}

#Team .chris .back {
    background-image: url(../imgs/chrisp_swap.jpg)
}


#Team .leo:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-1.8009033710695803deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-1.8009033710695803deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-1.8009033710695803deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-1.8009033710695803deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-1.8009033710695803deg) scale(1.07)
}

#Team .leo .front {
    background-image: url(../imgs/Leo1.jpg)
}

#Team .leo .back {
    background-image: url(../imgs/Leo1.jpg)
}


#Team .valery:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-1.6835383255966008deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-1.6835383255966008deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-1.6835383255966008deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-1.6835383255966008deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-1.6835383255966008deg) scale(1.07)
}

#Team .valery .front {
    background-image: url(../imgs/valery.jpeg)
}

#Team .valery .back {
    background-image: url(../imgs/valery.jpeg)
}

#Team .zahara:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-0.07615584600716829deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-0.07615584600716829deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-0.07615584600716829deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-0.07615584600716829deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-0.07615584600716829deg) scale(1.07)
}

#Team .zahara .front {
    background-image: url(/resources/img/goodbye/hey/erwin.jpg)
}

#Team .zahara .back {
    background-image: url(/resources/img/goodbye/whoa/erwin.jpg)
}

#Team .tracey:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-1.8305404745042324deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-1.8305404745042324deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-1.8305404745042324deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-1.8305404745042324deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-1.8305404745042324deg) scale(1.07)
}

#Team .tracey .front {
    background-image: url(../imgs/Tracey.jpg)
}

#Team .tracey .back {
    background-image: url(../imgs/Tracey.jpg)
}

#Team .leigh:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(0.03424516227096319deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(0.03424516227096319deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(0.03424516227096319deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(0.03424516227096319deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(0.03424516227096319deg) scale(1.07)
}

#Team .leigh .front {
    background-image: url(/resources/img/goodbye/hey/leigh.jpg)
}

#Team .leigh .back {
    background-image: url(/resources/img/goodbye/whoa/leigh.jpg)
}

#Team.nick:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(0.9387548798695207deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(0.9387548798695207deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(0.9387548798695207deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(0.9387548798695207deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(0.9387548798695207deg) scale(1.07)
}

#Team .nick .front {
    background-image: url(../imgs/Nick.Hunt-Davis.jpeg)
}

#Team .nick .back {
    background-image: url(../imgs/Nick.Hunt-Davis.jpeg)
}

#Team .matt:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(1.8915756256319582deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(1.8915756256319582deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(1.8915756256319582deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(1.8915756256319582deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(1.8915756256319582deg) scale(1.07)
}

#Team .matt .front {
    background-image: url(/resources/img/goodbye/hey/matt.jpg)
}

#Team .matt .back {
    background-image: url(/resources/img/goodbye/whoa/matt.jpg)
}

#Team .jason:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-0.32489927764981985deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-0.32489927764981985deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-0.32489927764981985deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-0.32489927764981985deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-0.32489927764981985deg) scale(1.07)
}

#Team .jason .front {
    background-image: url(/resources/img/goodbye/hey/jason.jpg)
}

#Team .jason .back {
    background-image: url(/resources/img/goodbye/whoa/jason.jpg)
}

#Team .jeff:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(0.4132471773773432deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(0.4132471773773432deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(0.4132471773773432deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(0.4132471773773432deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(0.4132471773773432deg) scale(1.07)
}

#Team .jeff .front {
    background-image: url(../imgs/jeff.png)
}

#Team .jeff .back {
    background-image: url(../imgs/jeff.png)
}

#Team .sanusha:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(1.462421431671828deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(1.462421431671828deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(1.462421431671828deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(1.462421431671828deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(1.462421431671828deg) scale(1.07)
}

#Team .sanusha .front {
    background-image: url(/resources/img/goodbye/hey/jdawg.jpg)
}

#Team .sanusha .back {
    background-image: url(/resources/img/goodbye/whoa/jdawg.jpg)
}

#Team .tebza:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(0.5986506692133844deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(0.5986506692133844deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(0.5986506692133844deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(0.5986506692133844deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(0.5986506692133844deg) scale(1.07)
}

#Team .tebza .front {
    background-image: url(../imgs/tebza.png)
}

#Team .tebza .back {
    background-image: url(../imgs/tebza.png)
}

#Team .james {
    cursor: url(../imgs/james.jpeg) 0 0, default
}

#Team .james:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(2.6316138496622443deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(2.6316138496622443deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(2.6316138496622443deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(2.6316138496622443deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(2.6316138496622443deg) scale(1.07)
}

#Team .james .front {
    background-image: url(../imgs/james.jpeg)
}

#Team .james .back {
    background-image: url(../imgs/james_swap.jpg)
}

#Team .kim:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(1.3533190554007888deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(1.3533190554007888deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(1.3533190554007888deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(1.3533190554007888deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(1.3533190554007888deg) scale(1.07)
}

#Team .kim .front {
    background-image: url(/resources/img/goodbye/hey/kim.jpg)
}

#Team .kim .back {
    background-image: url(/resources/img/goodbye/whoa/kim.jpg)
}

#Team .jessica:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-2.0703296517021954deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-2.0703296517021954deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-2.0703296517021954deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-2.0703296517021954deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-2.0703296517021954deg) scale(1.07)
}

#Team .jessica .front {
    background-image: url(/resources/img/goodbye/hey/jessica.jpg)
}

#Team .jessica .back {
    background-image: url(/resources/img/goodbye/whoa/jessica.jpg)
}

#Team .nelson:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-2.249293965753168deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-2.249293965753168deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-2.249293965753168deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-2.249293965753168deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-2.249293965753168deg) scale(1.07)
}

#Team .nelson .front {
    background-image: url(/resources/img/goodbye/hey/nelson.jpg)
}

#Team .nelson .back {
    background-image: url(/resources/img/goodbye/whoa/nelson.jpg)
}

#Team .ronnie:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07)
}

#Team .ronnie .front {
    background-image: url(../imgs/RonnieHandukani[2].jpg)
}

#Team .ronnie .back {
    background-image: url(../imgs/RonnieHandukani[2].jpg)
}

#Team .michael:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-0.2106712837703526deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-0.2106712837703526deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-0.2106712837703526deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-0.2106712837703526deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-0.2106712837703526deg) scale(1.07)
}

#Team .michael .front {
    background-image: url(/resources/img/goodbye/hey/michael.jpg)
}

#Team .michael .back {
    background-image: url(/resources/img/goodbye/whoa/michael.jpg)
}

#Team .pierre:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-0.18010405311360955deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-0.18010405311360955deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-0.18010405311360955deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-0.18010405311360955deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-0.18010405311360955deg) scale(1.07)
}

#Team .pierre .front {
    background-image: url(/resources/img/goodbye/hey/pierre.jpg)
}

#Team .pierre .back {
    background-image: url(/resources/img/goodbye/whoa/pierre.jpg)
}

#Team .alex:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-1.4332754951901734deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-1.4332754951901734deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-1.4332754951901734deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-1.4332754951901734deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-1.4332754951901734deg) scale(1.07)
}

#Team .alex .front {
    background-image: url(/resources/img/goodbye/hey/alex.jpg)
}

#Team .alex .back {
    background-image: url(/resources/img/goodbye/whoa/alex.jpg)
}

#Team .jeanette:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-2.9067260921001434deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-2.9067260921001434deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-2.9067260921001434deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-2.9067260921001434deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-2.9067260921001434deg) scale(1.07)
}

#Team .jeanette .front {
    background-image: url(/resources/img/goodbye/hey/jeanette.jpg)
}

#Team .jeanette .back {
    background-image: url(/resources/img/goodbye/whoa/jeanette.jpg)
}

#Team .jonas:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(1.795420044567436deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(1.795420044567436deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(1.795420044567436deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(1.795420044567436deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(1.795420044567436deg) scale(1.07)
}

#Team .jonas .front {
    background-image: url(/resources/img/goodbye/hey/jonas.jpg)
}

#Team .jonas .back {
    background-image: url(/resources/img/goodbye/whoa/jonas.jpg)
}

#Team .keely:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-1.6493704388849437deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-1.6493704388849437deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-1.6493704388849437deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-1.6493704388849437deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-1.6493704388849437deg) scale(1.07)
}

#Team .keely .front {
    background-image: url(/resources/img/goodbye/hey/keely.jpg)
}

#Team .keely .back {
    background-image: url(/resources/img/goodbye/whoa/keely.jpg)
}

#Team .nery:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(2.068266590125859deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(2.068266590125859deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(2.068266590125859deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(2.068266590125859deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(2.068266590125859deg) scale(1.07)
}

#Team .nery .front {
    background-image: url(/resources/img/goodbye/hey/nery.jpg)
}

#Team .nery .back {
    background-image: url(/resources/img/goodbye/whoa/nery.jpg)
}

#Team .marco:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(2.615775585640222deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(2.615775585640222deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(2.615775585640222deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(2.615775585640222deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(2.615775585640222deg) scale(1.07)
}

#Team .marco .front {
    background-image: url(/resources/img/goodbye/hey/marco.jpg)
}

#Team .marco .back {
    background-image: url(/resources/img/goodbye/whoa/marco.jpg)
}

#Team .eric:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-0.45798410614952445deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-0.45798410614952445deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-0.45798410614952445deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-0.45798410614952445deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-0.45798410614952445deg) scale(1.07)
}

#Team .eric .front {
    background-image: url(/resources/img/goodbye/hey/eric.jpg)
}

#Team .eric .back {
    background-image: url(/resources/img/goodbye/whoa/eric.jpg)
}

#Team .kevin:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(0.24823354929685593deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(0.24823354929685593deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(0.24823354929685593deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(0.24823354929685593deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(0.24823354929685593deg) scale(1.07)
}

#Team .kevin .front {
    background-image: url(/resources/img/goodbye/hey/kevin.jpg)
}

#Team .kevin .back {
    background-image: url(/resources/img/goodbye/whoa/kevin.jpg)
}

#Team .paul:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(-1.272011341061443deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(-1.272011341061443deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(-1.272011341061443deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(-1.272011341061443deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(-1.272011341061443deg) scale(1.07)
}

#Team .paul .front {
    background-image: url(/resources/img/goodbye/hey/paul.jpg)
}

#Team .paul .back {
    background-image: url(/resources/img/goodbye/whoa/paul.jpg)
}

#Team .payam:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(1.9831777028739452deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(1.9831777028739452deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(1.9831777028739452deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(1.9831777028739452deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(1.9831777028739452deg) scale(1.07)
}

#Team .payam .front {
    background-image: url(/resources/img/goodbye/hey/payam.jpg)
}

#Team .payam .back {
    background-image: url(/resources/img/goodbye/whoa/payam.jpg)
}

#Team .tanner:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(0.05854036705568433deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(0.05854036705568433deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(0.05854036705568433deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(0.05854036705568433deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(0.05854036705568433deg) scale(1.07)
}

#Team .tanner .front {
    background-image: url(/resources/img/goodbye/hey/tanner.jpg)
}

#Team .tanner .back {
    background-image: url(/resources/img/goodbye/whoa/tanner.jpg)
}

#Team .amanda:hover .card {
    -webkit-transform: rotateY(180deg) rotateZ(0.045246454887092113deg) scale(1.07);
    -moz-transform: rotateY(180deg) rotateZ(0.045246454887092113deg) scale(1.07);
    -ms-transform: rotateY(180deg) rotateZ(0.045246454887092113deg) scale(1.07);
    -o-transform: rotateY(180deg) rotateZ(0.045246454887092113deg) scale(1.07);
    transform: rotateY(180deg) rotateZ(0.045246454887092113deg) scale(1.07)
}

#Team .amanda .front {
    background-image: url(/resources/img/goodbye/hey/amanda.jpg)
}

#Team .amanda .back {
    background-image: url(/resources/img/goodbye/whoa/amanda.jpg)
}


@media all and (max-width: 500px) and (min-width: 0) {
    #Team .header {
        margin-top: 90px;
        margin-bottom: 50px
    }

    #Team .header h1 {
        font-size: 34px;
        line-height: 38px
    }

    #Team .header p {
        font-size: 16px;
        line-height: 22px
    }

    #Team .outro {
        margin-bottom: 70px
    }

    #Team .outro .tl-guys {
        margin-bottom: 10px
    }

    #Team .outro .heading {
        font-size: 12px;
        margin-bottom: 12px
    }

    #Team .outro p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 5px
    }

    #Team .card {
        margin-bottom: 10px
    }

    #Team .front, #Team .back {
        border-radius: 15px
    }

    #Team .person {
        width: 46%;
        margin-right: 7%;
        margin-bottom: 30px
    }

    #Team .person:nth-child(even) {
        margin-right: 0
    }

    #Team .person .name {
        font-size: 12px
    }

    #Team .person .info {
        font-size: 10px
    }
}



@font-face {
    font-family: "Expert Sans";
    src: url('../fonts/expert_sans_light-webfont.ttf') format('ttf');
}
