

/**,*/
/**:before,*/
/**:after {*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*html,*/
/*.scene {*/
    /*!*font-size: 62.5%;*!*/
    /*!*font-size: 1rem;*!*/
    /*font-weight: lighter;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*!*background: #000;*!*/
    /*background-image: url("../public/assets/imgs/picjumbo.com_P1000499.jpg");*/
    /*font-family: "Expert Sans", "Open Sans", Helvetica, Arial, sans-serif;*/
/*}*/
/*@media (max-width: 767px) {*/

    /*html,*/
    /*body { font-size: 50%; }*/
/*}*/
/*@media (max-width: 640px) {*/

    /*html,*/
    /*body { font-size: 60%; }*/
/*}*/
/*@media (max-width: 480px) {*/

    /*html,*/
    /*body { font-size: 40%; }*/
/*}*/

/*.inner,*/
/*.nav-panel ul .nav-btn:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
/*}*/

/*.scene {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/



/*.page {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*-webkit-transition: -webkit-transform .7s, opacity .7s;*/
    /*transition: transform .7s, opacity .7s;*/
    /*will-change: transform, opacity;*/
    /*padding: 4px;*/
/*}*/

/*.page:nth-child(1) .left {*/
    /*background-color: #547980;*/
/*}*/

/*.page:nth-child(1) .right {*/
    /*background-color: #547980;*/
/*}*/

/*.page:nth-child(2) .left {*/
    /*background-color: #45ADA1;*/
/*}*/

/*.page:nth-child(2) .right {*/
    /*background-color: #45ADA1;*/
/*}*/

/*.page:nth-child(3) .left {*/
    /*background-color: #594F4F;*/
/*}*/

/*.page:nth-child(3) .right {*/
    /*background-color: #594F4F;*/
/*}*/

/*.page:nth-child(4) .left {*/
    /*background-color: #9DE0AD;*/
/*}*/

/*.page:nth-child(4) .right {*/
    /*background-color: #9DE0AD;*/
/*}*/

/*.page:nth-child(5) .left {*/
    /*background-color: #547980;*/
/*}*/

/*.page:nth-child(5) .right {*/
    /*background-color:#547980;*/
/*}*/

/*.page:nth-child(6) .left {*/
    /*background-color: #9DE0AD;*/
/*}*/

/*.page:nth-child(6) .right {*/
    /*background-color: #9DE0AD;*/
/*}*/

/*.page:nth-child(7) .left {*/
    /*background-color: #45ADA1;*/
/*}*/

/*.page:nth-child(7) .right {*/
    /*background-color:  #45ADA1;*/
/*}*/


/*.page:nth-child(8) .left {*/
    /*background-color: #594F4F;*/
/*}*/

/*.page:nth-child(8) .right {*/
    /*background-color:  #594F4F;*/
/*}*/

/*.page:nth-child(9) .left {*/
    /*background-color: #547980;*/
/*}*/

/*.page:nth-child(9) .right {*/
    /*background-color: #547980;*/
/*}*/




/*.page.active .half {*/
    /*-webkit-transform: translateX(0) !important;*/
    /*-ms-transform: translateX(0) !important;*/
    /*transform: translateX(0) !important;*/
    /*-webkit-transition: -webkit-transform .7s ease-out;*/
    /*transition: transform .7s ease-out;*/
/*}*/

/*.page.previous {*/
    /*opacity: 0.4 !important;*/
    /*visibility: visible !important;*/
/*}*/


/*.page.small {*/
    /*-webkit-transform: scale(0.8);*/
    /*-ms-transform: scale(0.8);*/
    /*transform: scale(0.8);*/
    /*opacity: 0;*/
/*}*/


/*.page.small .half {*/
    /*-webkit-transform: translateX(0) !important;*/
    /*-ms-transform: translateX(0) !important;*/
    /*transform: translateX(0) !important;*/
/*}*/

/*.page:nth-child(2) .left {*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*.page:nth-child(2) .right {*/
    /*-webkit-transform: translateX(100%);*/
    /*-ms-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
/*}*/

/*.page:nth-child(3) .left {*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*.page:nth-child(3) .right {*/
    /*-webkit-transform: translateX(100%);*/
    /*-ms-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
/*}*/

/*.page:nth-child(4) .left {*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*.page:nth-child(4) .right {*/
    /*-webkit-transform: translateX(100%);*/
    /*-ms-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
/*}*/

/*.page:nth-child(5) .left {*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*.page:nth-child(5) .right {*/
    /*-webkit-transform: translateX(100%);*/
    /*-ms-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
/*}*/

/*.page:nth-child(6) .left {*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*.page:nth-child(6) .right {*/
    /*-webkit-transform: translateX(100%);*/
    /*-ms-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
/*}*/

/*.page:nth-child(7) .left {*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*.page:nth-child(7) .right {*/
    /*-webkit-transform: translateX(100%);*/
    /*-ms-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
/*}*/

/*.page:nth-child(8) .left {*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*.page:nth-child(8) .right {*/
    /*-webkit-transform: translateX(100%);*/
    /*-ms-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
/*}*/

/*.page:nth-child(9) .left {*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*.page:nth-child(9) .right {*/
    /*-webkit-transform: translateX(100%);*/
    /*-ms-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
/*}*/

/*!*.page:nth-child(10) .left {*!*/
    /*!*-webkit-transform: translateX(-100%);*!*/
    /*!*-ms-transform: translateX(-100%);*!*/
    /*!*transform: translateX(-100%);*!*/
/*!*}*!*/

/*!*.page:nth-child(10) .right {*!*/
    /*!*-webkit-transform: translateX(100%);*!*/
    /*!*-ms-transform: translateX(100%);*!*/
    /*!*transform: translateX(100%);*!*/
/*!*}*!*/





/*!*.page:nth-child(11) .right {*!*/
    /*!*-webkit-transform: translateX(100%);*!*/
    /*!*-ms-transform: translateX(100%);*!*/
    /*!*transform: translateX(100%);*!*/
/*!*}*!*/
/*!*.page:nth-child(11) .right {*!*/
    /*!*-webkit-transform: translateX(100%);*!*/
    /*!*-ms-transform: translateX(100%);*!*/
    /*!*transform: translateX(100%);*!*/
/*!*}*!*/
/*!*.page:nth-child(12) .right {*!*/
    /*!*-webkit-transform: translateX(100%);*!*/
    /*!*-ms-transform: translateX(100%);*!*/
    /*!*transform: translateX(100%);*!*/
/*!*}*!*/

/*!*.page:nth-child(12) .right {*!*/
    /*!*-webkit-transform: translateX(100%);*!*/
    /*!*-ms-transform: translateX(100%);*!*/
    /*!*transform: translateX(100%);*!*/
/*!*}*!*/



/*.half {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 50%;*/
    /*height: 100%;*/
    /*padding: 4px;*/
    /*background-size: cover;*/
    /*-webkit-transition: -webkit-transform .7s ease-in;*/
    /*transition: transform .7s ease-in;*/
    /*will-change: transform;*/
/*}*/

/*.half.left { left: 0; }*/


/*.half.right { left: 50%; }*/


/*.half.withText:after {*/
    /*padding: 4px;*/
    /*content: "";*/
    /*position: absolute;*/
    /*display: block;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*background: rgba(0, 0, 0, 0.5);*!*/
    /*overflow: hidden!important;*/
    /*z-index: 10;*/
/*}*/

/*!*********************!*/
/*.heading {*/
    /*position: absolute;*/
    /*z-index: 500;*/
    /*top: 300px;*/
    /*left: 50%;*/
    /*color: white;*/
    /*-webkit-transform: translateX(-50%) translateY(-50%);*/
    /*-ms-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-50%) translateY(-50%);*/
    /*font-size: 5.5rem;*/
    /*!*color: #fff;*!*/
    /*font-weight: lighter;*/
    /*overflow: hidden;*/
/*}*/

/*.scene{*/
    /*overflow: hidden;*/
/*}*/
/*.page p{*/
    /*margin-top: 350px;*/
    /*font-size: large;*/
    /*font-weight: lighter;*/
    /*overflow: hidden;*/
    /*font-family: "Expert Sans", "Open Sans", Helvetica, Arial, sans-serif;*/
    /*text-align: center;*/
    /*color: #ffffff;*/
/*}*/



/*!**********nav panel**********!*/
/*.nav-panel {*/
    /*position: fixed;*/
    /*top: 50%;*/
    /*right: 2%;*/
    /*-webkit-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    /*z-index: 1000;*/
    /*-webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);*/
    /*transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);*/
    /*will-change: transform, opacity;*/
/*}*/

/*.nav-panel.invisible {*/
    /*opacity: 0;*/
    /*-webkit-transform: translateY(-50%) scale(0.5);*/
    /*-ms-transform: translateY(-50%) scale(0.5);*/
    /*transform: translateY(-50%) scale(0.5);*/
/*}*/

/*.nav-panel ul { list-style-type: none; }*/

/*.nav-panel ul .nav-btn {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*width: 1rem;*/
    /*height: 1rem;*/
    /*margin-bottom: 0.5rem;*/
    /*border: 0.12rem solid #fff;*/
    /*border-radius: 50%;*/
    /*cursor: pointer;*/
    /*-webkit-transition: border-color, -webkit-transform 0.3s;*/
    /*transition: border-color, transform 0.3s;*/
    /*will-change: border-color, transform;*/
/*}*/

/*.nav-panel ul .nav-btn:after {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border-radius: 50%;*/
    /*-webkit-transform: translateX(-50%) translateY(-50%) scale(0.3);*/
    /*-ms-transform: translateX(-50%) translateY(-50%) scale(0.3);*/
    /*transform: translateX(-50%) translateY(-50%) scale(0.3);*/
    /*background-color: #fff;*/
    /*opacity: 0;*/
    /*-webkit-transition: -webkit-transform, opacity 0.3s;*/
    /*transition: transform, opacity 0.3s;*/
    /*will-change: transform, opacity;*/
/*}*/

/*.nav-panel ul .nav-btn.active:after,*/
/*.nav-panel ul .nav-btn:hover:after {*/
    /*-webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);*/
    /*-ms-transform: translateX(-50%) translateY(-50%) scale(0.7);*/
    /*transform: translateX(-50%) translateY(-50%) scale(0.7);*/
    /*opacity: 1;*/
/*}*/

/*.nav-panel ul .nav-btn:hover {*/
    /*border-color: beige;*/
    /*-webkit-transform: scale(1.2);*/
    /*-ms-transform: scale(1.2);*/
    /*transform: scale(1.2);*/
/*}*/

/*.nav-panel ul .nav-btn:hover:after { background-color: beige; }*/

/*.nav-panel .scroll-btn {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 1rem;*/
    /*height: 1rem;*/
    /*border: 0.2rem solid #fff;*/
    /*border-left: none;*/
    /*border-bottom: none;*/
    /*cursor: pointer;*/
    /*-webkit-transform-origin: 50% 50%;*/
    /*-ms-transform-origin: 50% 50%;*/
    /*transform-origin: 50% 50%;*/
    /*-webkit-transition: border-color 0.3s;*/
    /*transition: border-color 0.3s;*/
/*}*/

/*.nav-panel .scroll-btn.up {*/
    /*top: -1.6rem;*/
    /*-webkit-transform: rotate(-45deg);*/
    /*-ms-transform: rotate(-45deg);*/
    /*transform: rotate(-45deg);*/
/*}*/

/*.nav-panel .scroll-btn.down {*/
    /*bottom: -1.2rem;*/
    /*-webkit-transform: rotate(135deg);*/
    /*-ms-transform: rotate(135deg);*/
    /*transform: rotate(135deg);*/
/*}*/

/*.nav-panel .scroll-btn:hover { border-color: beige; }*/






/*@media (min-width: 720px) {*/
    /*.scene img {*/
        /*margin-top: -500px;*/
        /*max-width: 100%;*/
        /*!*height: inherit;*!*/
        /*position: absolute;*/
        /*top: 0;*/
        /*left: -30px;*/
        /*overflow: hidden;*/
        /*!*max-width:115%;*!*/
        /*!*height:auto;*!*/

    /*}*/
/*}*/



/*!*******page 1*!*/

/*!*page 1 image*!*/
/*.scene .page-1 img{*/
    /*width: 100%; }*/

/*.scene .page-1 img{*/
    /*display: inline-block;*/
    /*!*height: auto;*!*/

    /*max-width: 100%;*/
    /*height:auto;*/
    /*margin-left: -50px;*/
    /*margin-top: 550px;*/
    /*overflow: hidden;*/

/*}*/



/*!*******page 2*!*/
/*!*******page 3*!*/
/*!*******page 4*!*/
/*!*******page 5*!*/
/*!*******page 6*!*/
/*!*******page 7*!*/
/*!*******page 8*!*/
/*!*******page 9*!*/

/*!*style="width: 100%;position: absolute; margin-top: 300px;margin-left: -100px"*!*/

/*!****/
/*Bootstrap Line Tabs by @keenthemes*/
/*A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme*/
/*Licensed under MIT*/
/****!*/

/*.content {*/
    /*padding-top: 30px;*/
/*}*/

/*!* Heading *!*/
/*.heading {*/
    /*z-index: 1;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*margin-bottom: 100px;*/
/*}*/

/*.heading:after {*/
    /*left: 50%;*/
    /*height: 3px;*/
    /*width: 50px;*/
    /*content: " ";*/
    /*bottom: -35px;*/
    /*margin-left: -25px;*/
    /*position: absolute;*/
    /*background: #444;*/
/*}*/

/*.heading h2 {*/
    /*font-size: 40px;*/
    /*font-weight: 500;*/
    /*margin: 0 0 20px;*/
    /*color: #444;*/
/*}*/

/*.heading p {*/
    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*letter-spacing: 0.5px;*/
    /*text-transform: uppercase;*/
    /*color: #8693a7;*/
/*}*/

/* --------------------------------

Primary style

-------------------------------- */
/*html * {*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

/**, *:after, *:before {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

body #cd-timeline{
    font-size: 100%;
    font-family: "Droid Serif", serif;
    color: #7f8c97;
    /*padding: 100px;*/
    /*background-color: #e9f0f5;*/
}

a {
    color: #acb7c0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

h1, h2, p {
    /*font-family: "Open Sans", sans-serif;*/
    font-family: "Expert Sans","Open Sans"!important;
    font-weight: bold;
}


/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
/* --------------------------------

Main components

-------------------------------- */
header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    /*background: #303e49;*/
}
header h1 {
    color: #ffffff;
    font-size: 18px;
    font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
    header {
        height: 300px;
        line-height: 300px;
    }
    header h1 {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block::after {
    clear: both;
    content: "";
    display: table;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -12px;
}
.cd-timeline-img.cd-picture {
    background: #3fa9f5;
}
.cd-timeline-img.cd-movie {
    background: #c03b44;
}
.cd-timeline-img.cd-location {
    background: #00719b;
}
.cd-timeline-img.cd-pic{
    background: #45ADA1;

}
.cd-timeline-img.cd-pic1{
    background: #547980;

}


@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 110px;
        height: 110px;
        left: 48%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}


@media only screen and (min-width: 1170px) {
    .cd-timeline-img img {
        display: block;
        width: 65px;
        height: 65px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -35px;
    }
}


@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #ffffff;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content::after {
    clear: both;
    content: "";
    display: table;
}
.cd-timeline-content h2 {
    color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content  {
    font-size: 13px;
    color: black;
    font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content  {
    display: inline-block;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: #ffffff;
    border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

/*.cd-timeline-content .cd-date {*/
    /*float: left;*/
    /*padding: .8em 0;*/
    /*opacity: .7;*/
/*}*/
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 300%;
        /*font-size: 1.25rem;*/
    }
    .cd-timeline-content p {
        font-size: 200%;
        /*font-size: 1rem;*/
    }
    .cd-timeline-content  .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #ffffff;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}
@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
